* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0px;
    color: #222222;
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    line-height: 1.8;
    font-size: 1rem; 
}

a,
a:visited {
    text-decoration: none;
    color: #222222;
}

main.tarjeta {
    width: 90%;
    /* max-width: 700px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('images/patron.png');
    padding-top: 60px;
    padding-bottom: 20px;
    background-size: 200px; 
    background-repeat: repeat-x;
    background-position: top left; 
}

img.foto2 {
    width: 200px;
    min-height: 250px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #182431;
    padding: 5px;
}

h1.tarjeta,
p.nombre {
    font-family: 'Parisienne', serif;
    font-size: 2rem;
    font-weight: 400;
    color: #182431;
    margin: 0;
    line-height: 1.3;
}

.texto-invitacion,
.info {
    margin-bottom: 1em;
}

.info > * {
    /* text-transform: uppercase;
    letter-spacing: 1px; */
    /* font-size: 1rem; */
    /* font-weight: bold; */
    /* margin: 0; */
    margin: 0;
    margin-bottom: .25em;
}

@media (min-width:650px) {
    body {
        font-size: 1.125rem;
    }
    main.tarjeta {
        display: flex;
        height: 100vh;
        flex-direction: row;
    }
    h1.tarjeta,
    p.nombre {
        font-size: 3rem;
    }
    img.foto2 {
        width: 350px;
        height: 420px;
        padding: 10px;
    }
    div.derecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        padding-left: 2em;
    }
}